<%= form_for :session, url: session_path, html: { class: 'ui form w-3/12' } do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="flex flex-col justify-center items-center">
    <%= form.submit class: 'ui primary button' %>
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
  </div>
<% end %>
