
<div class='flex mt-2 mb-4'>
  <%= search_form_for @q, class: 'ui form w-1/2' do |f| %>
    <div class='field'>
      <%= f.label :name_or_notes_cont, 'Search tasks by name or description', class: 'ui header' %>
      <%= f.search_field :name_or_notes_cont %>
    </div>
    <%= f.submit class: 'ui primary button' %>
  <% end %>
</div>

<h1 class='ui header'>Tasks</h1>
<%= link_to new_task_path, class: 'ui basic button' do %>
  <i class='icon plus'></i>
  Add Task
<% end %>

<% if @tasks.present? %>
  <table class='ui celled table'>
    <thead>
      <tr>
        <th><%= sort_link(@q, :name, 'Name') %></th>
        <th><%= sort_link(@q, :notes, 'Notes') %></th>
        <th>Owner</th>
        <th>Starts at</th>
        <th>Completed at</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= truncate(task.notes, length: 25) %></td>
          <td><%= task.owner.name %></td>
          <td><%= task.starts_at %></td>
          <td><%= task.completed_at %></td>
          <td>
            <%= link_to 'View', task_path(task) %> |
            <%= link_to 'Collaborate', new_task_task_membership_path(task) %> |
            <%= link_to 'Delete', task_path(task), data: { confirm: 'Are you sure you want to delete this task?' }, method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

