<h1 class='ui header'>Add Task</h1>

<%= simple_form_for @task, html: { class: 'ui form w-1/2' } do |f| %>
  <%= f.input :name, wrapper_html: { class: 'field' } %>
  <%= f.input :notes, as: :text, wrapper_html: { class: 'field' } %>
  <%= f.datetime_field :starts_at, class: 'field', value: Time.now %>

  <%= f.submit 'Add Task', class: 'ui primary button' %>
<% end %>
